

        
        <table>
          
          <caption class="adimin">Pedidos</caption>
    
          <tr>
            <th>Nome Completo</th>
            <th>Sexo</th>
            <th>CPF ou CNPJ</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Data de nascimento</th>
            <th>Tipos de Pedidos</th>
            <th>Serviços de Iluminação</th>
            <th>Serviços de Som</th>
            <th>Observações do pedido</th>
            <th>Valor Total</th>
            <th>Aprovar</th>
          </tr>
          <tr>
            <td>Cesar Sportore</td>
            <td>Masculino</td>
            <td>123.456.789.10</td>
            <td>4002-8922</td>
            <td>Rua dos jovens</td>
            <td>31/02/1999</td>
            <td>Bodas</td>
            <td>Sim</td>
            <td>Não</td>
            <td>Quero que o local esteja limpo</td>
            <td>13.000</td>
            <td>

              <div id="imagex"><img src="img/fotox.png"></div>
              
              <div id="imagev"><img src="img/correto.png"></div>
            </td>
          </tr>
          <tr>
            <td>Alexandre Fukaya</td>
            <td>Masculino</td>
            <td>123.456.789.10</td>
            <td>4002-8922</td>
            <td>Aonde Judas perdeu as meias</td>
            <td>31/02/1999</td>
            <td>Aniversário</td>
            <td>Não</td>
            <td>Sim</td>
            <td>Nenhuma</td>
            <td>10.000</td>
            <td>

                <div id="imagex"><img src="img/fotox.png"></div>
                
                <div id="imagev"><img src="img/correto.png"></div>
              </td>
          </tr>
        </table>