
body {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #7d0093
}
.mes {

font: bold 25px verdana;

background: #f5f5f5;

text-align: center;

line-height: 40px;				

height: 40px;

width: 867px;

}

.semana {

font: bold 20px verdana;

background: #f5f5f5;

text-align: center;

line-height: 25px;						  

height: 25px;

width: 120px;

}

.dia {

background: #f5f5f5;

font: 20px verdana;				  

text-align: center;

height: 100px;

width: 100px;

}

.evento {

position: relative;

font: 9px verdana;

color: #C30;

right: -7px;

top: -9px;			  

}

.text{
font-size: 3em;
} 


nav div ul li > img{
width: 60%;
padding: 0.2em;
}
nav div ul > li{
width: 100%;
text-align: center;
}
NAV ul{
margin: 0%;
padding: 0%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
font-size: 2em;
font-family: 'Limelight', cursive;
align-items: flex-end;
justify-content: space-between;
list-style-type: none;
   background-color: #ffc600;
}

#calendario {
    margin:auto;
    height: 50em;

    display: flex;
    justify-content: center;

}

table {

    margin: auto;
}

footer > div {
    background-color: #ffc600
}

footer > div {
    font-size: 0,5em;
    justify-content: flex-end;
}
footer img {
    width: 0,5px;
    height: 0,5px;
}

footer a {
    display: flex;
    justify-content: flex-end;
    font-size: 2em; 
}
#daletra {
    display: flex;
    justify-content: flex-end;
    font-size: 2em;

}

#inscreve a img {
    width: 2%;
     height: 2%;
 }

 #shows ul li {
     margin: 3%;
     color: white;
    font-size: 2.5em;
 }

 #shows ul p {
     margin: 3%;
     color: white;
     font-size: 1.5em;
 }

 body{
    font-family: 'Century Gothic', sans-serif;
}

.bt-common-menu a{
    color: #fff;
    text-decoration: none;
}

.letra h1 {
    color: #fff;
    text-align: center;
    
}

