body {
    margin: 0%;
    padding: 0%;
}

body {

    background-color: #7d0093
    
} 
NAV ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.5em;
    font-family: 'Limelight', cursive;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
    background-color: #ffc600;
    text-decoration-color: white;
}
nav ul li{
    background-color: #ffc600;
}
nav{
    
    text-align: center;
    padding: 1em;
}

nav #bt-mobile-menu {
    display: none;
}

header {
    background-color: #7d0093;
    background-image: url(/img/mini_CA_CA_17.04.01-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#imagens_da_home {
    display: flex;
    Justify-content: space-evenly;
    flex-direction: row;

}

#imagens_da_home img {
    background-color: #7d0093
}

.foto {
    margin: 2.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/img/foto\ da\ home\ page\ 1.jpg);
    width: 20em;
    height: 20em;
}

.foto1 {
    margin: 2.5em;
    border-color: black;
    border: 2px 2px 2px 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/img/foto\ da\ home\ page\ 2.jpg);
    width: 20em;
    height: 20em;
}

.foto2{
    margin: 2.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/img/foto\ da\ home\ page\ 3.jpg);
    width: 20em;
    height: 20em;
}


#imagens_da_home img {
    padding: 1em;
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    
}

#inscreve a img {
    width: 2%;
    height: 2%;
}
    

#logoarea img {
    margin:0 auto;
    display: flex;
    justify-content:center;
}

#logoarea img {
    width: 528px;
    height: 413px;
}


footer > div {
    background-color: #ffc600
}

footer > div {
    font-size: 0,5em;
    justify-content: flex-end;
}
footer img {
    width: 0,5px;
    height: 0,5px;
}

footer {
    background-color: #7d0093
}

footer a {
    display: flex;
    justify-content: flex-end;
    font-size: 2em; 
}
#daletra {
    display: flex;
    justify-content: flex-end;
    font-size: 2em;

}

.leprincipais {
    background-color: #ffc600

}

.leprincipais hgroup {
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-de-navegação {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.text{
    font-size: 3em;
} 


nav div ul li > img{
    width: 60%;
    padding: 0.2em;
}
nav div ul > li{
    width: 100%;
    text-align: center;
}
NAV ul{
    margin: 0%;
    padding: 0%;
    text-decoration: WHITE;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 2em;
    font-family: 'Limelight', cursive;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
    background-color: transparent;
}

address {
    font-size: 1.5em;
}

address a {
    text-align: center;
}

@media (max-width: 625px) {
    nav #bt-mobile-menu {
        display: block;
    }
    nav .bt-common-menu {
        display: none;
    }
    nav .bt-common-menu.active {
        display: block;
    }
    nav ul.mobile-mode {
        display: flex;
        flex-direction: column;
    }
    #logoarea img {
        width: 400px;;
    }
    .leprincipais h2 {
        font-size: .5em;
    }
    .text-n ul li a {
        color: white;
    }
}
@media (max-width: 485px) {
    #logoarea img {
        width: 200px;;
    }
    .leprincipais h2 {
        font-size: 1em;
    }
}