

    <main>
        <section id="principais">
            <div class="leprincipais">
                <hgroup>
                    <h2> Descrição do espaço/</h2>
                    <h2>Quem somos nós/</h2>
                    <h2>Condições do espaço</h2>
                </hgroup>
            </div>
            <div id="conteudos-principais">

                <div id="imagens_da_home">
                    <div class="foto"></div>
                    <div class="foto1"></div>
                    <div class="foto2"></div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ullam quisquam, neque animi omnis maxime rerum dolorum in corrupti perspiciatis aspernatur sit. Alias obcaecati quisquam officiis perferendis quibusdam nulla. Necessitatibus.</p>
                </div>
            </div>
        </section>
        <div id="daletra">
           <a href="cadastro.html">Organize seu evento aqui!Cadastre-se.</a>
        </div>
    </main>

