@{
    var user = (string) ViewData["user"];
}

<nav>
    <div class="section-container">
        <ul>
            <li><a asp-controller="Home" asp-action="Index" class="active">Principal</a></li>
            <li><a href='@Url.Action("Index", "Home")#hamburgueres' >Hamburgueres</a></li> <!-- #É o id da página, ou seja, onde ele irá ancorar -->
            <li><a href='@Url.Action("Index", "Home")#shakes'>Shakes</a></li>
            <li><a href='@Url.Action("Index", "Home")#historia'>História</a></li>
            <li><a href='@Url.Action("Index", "Home")#local'>Local</a></li>
            @if (string.IsNullOrEmpty(user))
            {
                <li><a id="bt_login" asp-controller="Cliente" asp-action="Login" >Login/Cadastro</a></li>    
            }else{
                <li><a id="bt_logout" asp-controller="Cliente" asp-action="Logout" >Logout</a></li>    
            }
            <li><a id="bt-peca_ja" asp-controller="Pedido" asp-action="Index">Peça já!</a></li>
        </ul>
    </div>
</nav>