<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>McBonald's</title>
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    @if (!"Home".Equals( (string) ViewData["NomeView"])){ //casting 
        <link href="~/css/style-pedidos-flex.css" rel="stylesheet" type="text/css">
    }
</head>

<body class="flex-container">
    @RenderBody()
    <footer>
        <div class="section-container">
            <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br />
                mcbonalds@email.com
                <br />
                11 1234 6789
            </address>
            <a href="#">Voltar para o topo!</a>
        </div>
    </footer>
</body>
</html>