@model RoleTopMVC.ViewModels.HistoricoViewModels
<main>

    <div id="dash"> 
        
    <table>
        
        <caption class="pedidos">Seu pedido</caption>
        
        <tr>
            <th>Nome Completo</th>
            <th>Telefone</th>
            <th>Tipos de Pedidos</th>
            <th>Serviços de Iluminação</th>
            <th>Serviços de Som</th>
            <th>Observações do pedido</th>
            <th>Valor Total</th>
            <th>Aprovar</th>
            
        </tr>
        <tr>
            <td>Cesar Sportore</td>
            <td>4002-8922</td>
            <td>Bodas</td>
            <td>Sim</td>
            <td>Não</td>
            <td>Quero que o local esteja limpo</td>
            <td>13.000</td>
            <td>
                
                <div id="imagex"><img src="img/fotox.png"></div>
                
                <div id="imagev"><img src="img/correto.png"></div>
            </td>
        </tr>
    </table>
</div>

    @foreach (var pedido in Model.pedidos)
    {
        <tr>
            <td>@pedido.Nome</td>
            <td>@pedido.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    </div>
</section>
</main>