<header>
    @{
    Html.RenderPartial("_HeaderNavBar");
    }
</header>

<main>
    <h2>@ViewData["NomeView"]</h2>
    <form method="POST" action='@Url.Action("Cadastrar", "Cadastro")'>
        <div>
            <label for="nome">Nome Completo</label>
            <br />
            <input required id="nome" type="text" maxlength="40" minlength="3" name="nome" />
        </div>

        <div>
            <label for="endereco">Endereço</label>
            <br />
            <input required id="endereco" type="text" maxlength="50" minlength="3" name="endereco" />
        </div>

        <div>
            <label for="telefone">Telefone para contato</label>
            <br />
            <input required id="telefone" type="text" name="telefone" />
        </div>

        <div>
            <label for="email">E-mail</label>
            <br />
            <input required id="email" type="email" name="email" />
        </div>

        <div>
            <label for="data-nascimento">Data de Nacimento</label>
            <br />
            <input required id="data-nascimento" type="date" name="data-nascimento" />
        </div>

        <div>
            <label for="senha">Senha</label>
            <br />
            <input required id="senha" type="password" name="senha" />
        </div>

        <div>
            <label for="confirmar-senha">Confirme sua Senha</label>
            <br />
            <input required id="confirmar-senha" type="password" name="confirmar-senha" />
        </div>

        <input type="submit" value="Cadastra ai, Jovem!" />
    </form>

</main>